
.form {
  text-align: center;
  height: max-content;
  margin-block: 4%;
  margin-inline: 20%;
  background-color: thistle;
  border-radius: 10px;
}

.form > input {
  padding: 1%;
  width: 400px;
  margin-top: 4%;
}

.form > button {
  padding: 1%;
  width: 200px;
}


.chat {
  text-align: center;
}

.chat > h1 {
  color: thistle;
}
